---
import Layout from '../layouts/Layout.astro'
---

<Layout>
  <h1 class='text-3xl font-bold mb-4'>
    Presentación de mi Proyecto Web <br />
    <strong>'Lenguajes de Marca'</strong>
  </h1>
  <p class='text-lg'>
    Bienvenidos a la presentación de mi sitio web dedicado a los Lenguajes de
    Marca. Este proyecto explora de manera visual y conceptual el desarrollo web
    a través de la plataforma Wordpress que estructura y da forma a la página.
  </p>
  <p class='mt-2'>
    A lo largo de esta presentación, recorreremos capturas clave de la web,
    desde su diseño de interfaz y otros esenciales en el desarrollo web.
  </p>
</Layout>
