---
import Layout from '../layouts/Layout.astro'
import Img from '../components/Img.astro'
---

<Layout>
  <h1 class='text-2xl font-bold'>LaTeX</h1>

  <Img src='https://i.imgur.com/OTZMYr8.png' />
</Layout>
