---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class='flex h-screen'>
      <nav
        class='w-48 bg-gray-800 text-white flex flex-col p-4 overflow-y-auto'
      >
        <a href='/' class='mb-4 hover:text-gray-300'>Lenguajes de Marca</a>
        <a href='/inicio' class='mb-4 hover:text-gray-300'>Inicio</a>
        <a href='/diseno' class='mb-4 hover:text-gray-300'>Diseño</a>
        <a href='/soporte' class='mb-4 hover:text-gray-300'>Soporte</a>
        <a href='/contacto' class='mb-4 hover:text-gray-300'>Contacto</a>
        <a href='/pasos' class='mb-4 hover:text-gray-300'>Primeros pasos</a>
        <a href='/terminos' class='mb-4 hover:text-gray-300'>Términos de uso</a>
        <a href='/politica' class='mb-4 hover:text-gray-300'
          >Política de privacidad</a
        >
        <a href='/acerca' class='mb-4 hover:text-gray-300'>Acerca de nosotros</a
        >
        <a href='/blog' class='mb-4 hover:text-gray-300'>Blog</a>
        <a href='/blog-xml' class='mb-4 hover:text-gray-300'>Blog - XML</a>
        <a href='/blog-json' class='mb-4 hover:text-gray-300'>Blog - JSON</a>
        <a href='/blog-html' class='mb-4 hover:text-gray-300'>Blog - HTML</a>
        <a href='/recursos' class='mb-4 hover:text-gray-300'
          >Recursos de aprendizaje</a
        >
        <a href='/html' class='mb-4 hover:text-gray-300'>Recursos - HTML</a>
        <a href='/xml' class='mb-4 hover:text-gray-300'>Recursos - XML</a>
        <a href='/markdown' class='mb-4 hover:text-gray-300'
          >Recursos - Markdown</a
        >
        <a href='/latex' class='mb-4 hover:text-gray-300'>Recursos - LaTeX</a>
        <a href='/yaml' class='mb-4 hover:text-gray-300'>Recursos - YAML</a>
        <a href='/json' class='mb-4 hover:text-gray-300'>Recursos - JSON</a>
        <a href='/guias' class='mb-4 hover:text-gray-300'>Guías y tutoriales</a>
        <a href='/editores' class='mb-4 hover:text-gray-300'
          >Editores recomendados</a
        >
        <a href='/validadores' class='mb-4 hover:text-gray-300'
          >Herramientas de validación</a
        >
        <a href='/foros' class='mb-4 hover:text-gray-300'>Foros y comunidades</a
        >
        <a href='/plugins' class='mb-4 hover:text-gray-300'
          >Plugins utilizados</a
        >
      </nav>

      <main class='flex-1 p-8 overflow-y-auto'>
        <slot />
      </main>
    </div>
  </body>
</html>
